<!DOCTYPE html>
<html>
  <head>
    <title>Website Gia sư</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Trang chủ</a></li>
          <li><a href="/tutors">Tìm gia sư</a></li>
          <li><a href="/contact">Liên hệ</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
